<section layout="row">
    <section flex="100">
        <p>
            {{mensagem.texto}}
        </p>
        <h1>Contato</h1>
    </section>
</section>
<section layout="row">
    <section flex="100">
        <form ng-submit="salva()">
            <section layout="row">
                <section flex="100">
                    <md-input-container>
                        <label>Nome completo</label>
                        <input type="text" id="nome" ng-model="contato.nome" name="nome" required="required">
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="contato.email" id="email" placeholder="contato@email.com" type="email" required="required">
                    </md-input-container>
                </section>
            </section>
            <section layout="row">
                <section flex="100">
                    <md-input-container>
                        <md-button md-direction="left" class="md-raised md-default">Voltar</md-button>
                        <md-button type="submit" md-direction="right" class="md-raised md-primary">Salvar</md-button>
                    </md-input-container>
                </section>
            </section>
        </form>
    </section>
</section>
