<p>{{mensagem.texto}}</p>
<section layout="row">
    <section flex="60">
        <h1>Bem-Vindo ao Contatooh</h1>
    </section>
    <section flex="20">
        <md-button class="md-raised md-primary" ng-click="incrementa()">Clique aqui</md-button>
    </section>
    <section flex="20">
        <md-button class="md-raised md-primary" ng-href="#/contato">Novo contato</md-button>
    </section>
</section>
<section layout="row">
    <md-input-container>
        <label>Filtro</label>
        <input type="search" ng-model="filtro" md-placeholder="Procure com o nome">
    </md-input-container>
</section>
<section layout="row">
    <section flex="100">
        <p ng-cloak>
            Qtd de clicks:
            {{ total }}
        </p>
    </section>
</section>
<section layout="row">
    <table>
        <thead>
            <th>Nome</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr ng-repeat="contato in contatos | filter: filtro">
                <td>
                    <a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a>
                </td>
                <td>
                    <a href="#">{{contato.email}}</a>
                </td>
                <td class="text-center">
                    <md-button ng-click="remove(contato)" class="md-raised md-warning">Remover</md-button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <p ng-show="contatos.length">
                        Contatos cadastrados:
                        {{contatos.length}}
                    </p>
                    <p ng-hide="contatos.length">
                        Não há contatos cadastrados
                    </p>
                </td>
            </tr>
        </tfoot>
    </table>
</section>
